.recommendation {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 1.5rem;
  padding: 2rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding-bottom: 1rem;
}

.rec-btn {
  background-color: #162e54;
  color: whitesmoke;
  padding: 10px 20px;
  opacity: 0.8;
  font-style: bold;
}

.rec-btn:hover {
  box-shadow: 0 0 20px 5px rgba(52, 152, 219, 0.7);
}

@media (min-width: 1127px) and (max-width: 1387px) {
  .recommendation {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
}

@media (min-width: 880px) and (max-width: 1126px) {
  .recommendation {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 879px) {
  .recommendation {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media (min-width: 296px) and (max-width: 599px) {
  .recommendation {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
