.picture {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.picture img {
  width: 75%;
  opacity: 0.9;
  border-radius: 5%;
}

@media (min-width: 880px) and (max-width: 1126px) {
  .picture img {
    width: 90%;
  }
}

@media (min-width: 600px) and (max-width: 879px) {
  .picture img {
    width: 90%;
  }
}

@media (min-width: 296px) and (max-width: 599px) {
  .picture img {
    content: url("../../images/anibrowser_mobile.png");
    width: 90%;
  }
}
