#char-display {
  background-color: #162e54;
  color: whitesmoke;
  margin-left: 1rem;
  padding: 10px 20px;
  opacity: 0.8;
  font-style: bold;
  width: 169px;
  border-color: #4167c6;
}

#char-display:hover {
  box-shadow: 0 0 20px 5px rgba(52, 152, 219, 0.7);
}

@media (min-width: 320px) and (max-width: 1130px) {
  #char-display {
    align-self: center;
  }
}
