body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("../../images/comet-sky.png");
  background-repeat: no-repeat;
  background-position: center center; /* Center the background image */
  background-attachment: fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: #2753c3;
}

.title-header {
  color: aliceblue;
}

.item-list {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  text-align: center;
  gap: 3rem;
}

.item:nth-child(3) {
  grid-column: span 2;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  color: aliceblue;
}

.seasonal {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  padding: 2rem;
}
