body {
  background-image: url("../../images/night-sky.png");
  background-repeat: no-repeat;
  background-position: center center; /* Center the background image */
  background-attachment: fixed;
  background-size: cover;
}

h1,
h2,
h3,
li,
p {
  color: aliceblue;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #091941;
}

.title-header {
  color: aliceblue;
}

.item-list {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  text-align: center;
  gap: 3rem;
}

.item:nth-child(3) {
  grid-column: span 2;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  color: aliceblue;
}

.seasonal,
.upcoming {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  padding: 2rem;
  justify-items: center;
}

@media (min-width: 1127px) and (max-width: 1387px) {
  .seasonal,
  .upcoming {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
}

@media (min-width: 880px) and (max-width: 1126px) {
  .seasonal,
  .upcoming {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 600px) and (max-width: 879px) {
  .item-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .seasonal,
  .upcoming {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 296px) and (max-width: 599px) {
  .item-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .seasonal,
  .upcoming {
    grid-template-columns: 1fr;
  }
}
