@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  80% {
    opacity: 0.5;
    transform: translateY(20px);
  }

  100% {
    opacity: 0.9;
    transform: translateY(0);
  }
}

body {
  background-image: url("../../images/night-sky.png");
  background-repeat: no-repeat;
  background-position: center center; /* Center the background image */
  background-attachment: fixed;
  background-size: cover;
}

h1,
h2,
h3,
li,
p {
  color: aliceblue;
}

.homePage {
  animation: fadeInAnimation 1200ms 800ms backwards;
}

.title-header {
  color: aliceblue;
}

.seasonal,
.upcoming {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  padding: 2rem;
  justify-items: center;
}

@media (min-width: 1127px) and (max-width: 1387px) {
  .seasonal,
  .upcoming {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
}

@media (min-width: 880px) and (max-width: 1126px) {
  .seasonal,
  .upcoming {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 600px) and (max-width: 879px) {
  .item-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .seasonal,
  .upcoming {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 296px) and (max-width: 599px) {
  .item-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .seasonal,
  .upcoming {
    grid-template-columns: 1fr;
  }
}
