#logo {
  height: 45px;
}

.navbar {
  border-bottom: 2px solid black;
}

.link,
.link:link,
.link:visited {
  color: white;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
  display: inline-block;
}

/* Default underline (hidden) */
.link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.link:hover::before {
  width: 100%;
}

.bi-search {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.d-flex {
  margin-right: 1rem;
}

.genre-selector {
  border-radius: 4%;
  margin-right: 8px;
  width: 200px;
}

.form-control {
  width: 200px;
}
