#logo {
  height: 45px;
}

.btn {
  height: 40px;
  width: 40px;
}

.bi-search {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.d-flex {
  margin-right: 1rem;
}

.genre-selector {
  border-radius: 4%;
  margin-right: 8px;
  width: 200px;
}

.form-control {
  width: 200px;
}
