.ani-entry {
  /* background-color: #2753c3; */
  opacity: 0.9;
  /* border: black solid 2px; */
  padding: 1rem;
  width: 250px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.ani-entry:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px 5px rgba(52, 152, 219, 0.7);
}

.ani-entry > img {
  height: 250px;
  border: black solid 2px;
}

.ani-entry > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ani-entry > ul > li {
  list-style-type: none;
}

@media (min-width: 296px) and (max-width: 879px) {
  .ani-entry {
    box-shadow: 0 0 20px 5px rgba(52, 152, 219, 0.7);
  }
}
