a {
  text-decoration: none;
  color: inherit;
}

.ani-entry {
  background-color: #2753c3;
  opacity: 0.9;
  border: black solid 2px;
  padding: 1rem;
  width: 250px;
}

.ani-entry:hover {
  transform: scale(1.1); /* Scale up by 10% */
}

.ani-entry > img {
  height: 250px;
  border: black solid 2px;
}

.ani-entry > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ani-entry > ul > li {
  list-style-type: none;
}
