.type-filter {
  text-align: center;
}

.filter-btn {
  padding: 10px 20px;
}

.filter-btn:hover {
  box-shadow: 0 0 20px 5px #3498dbb3;
}

.results {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  padding: 2rem;
  justify-items: center;
}

@media (min-width: 1127px) and (max-width: 1387px) {
  .results {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
}

@media (min-width: 880px) and (max-width: 1126px) {
  .results {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 600px) and (max-width: 879px) {
  .results {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 296px) and (max-width: 599px) {
  .results {
    grid-template-columns: 1fr;
  }
}
