.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;

  padding: 5rem;
  width: 475px;
  gap: 1rem;
}

.form-container hr,
.form-container p,
.form-container h1 {
  color: black;
}

.form-container h1 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-txt {
  margin-bottom: 1rem;
}

/* @media (min-width: 881px) and (max-width: 1200px) {
  .form-container {
    width: 45vw;
  }
}

@media (min-width: 632px) and (max-width: 881px) {
  .form-container {
    width: 60vw;
  }
}

@media (min-width: 480px) and (max-width: 632px) {
  .form-container {
    width: 75vw;
  }
}
  */

@media (min-width: 434px) and (max-width: 500px) {
  .form-container {
    width: 400px;
  }
}

@media (min-width: 320px) and (max-width: 434px) {
  .form-container {
    width: 320px;
    padding: 3rem;
  }
}
