body {
  background-image: url("../../images/comet-sky.png");
  background-repeat: no-repeat;
  background-position: center center; /* Center the background image */
  background-attachment: fixed;
  background-size: cover;
}

.top {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  text-align: center;
  padding: 2rem;
}
